<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center whiteText">
        <h1>A Knight's Tale!</h1>
        <a href="https://www.youtube.com/watch?v=Y_jGlTEBUxU" target="_blank" class="easterEgg secrets">(No Relation)</a>
      </ion-col>
    </ion-row>
    <div class="ion-row">
      <div class="ion-col center">
        <img src="assets/whiteShield.png" alt="shield">
      </div>
    </div>
    <div class="ion-row">
      <div class="ion-col">
        <ion-button expand="block" color="light" routerLink='/game'>Start</ion-button >
      </div>
    </div>
  </ion-grid>


</ion-content>